@import "~antd/dist/antd.css";

.app-logo {
  height: 32px;
  margin: 16px 20px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}

.app-logo-collapsed {
  height: 32px;
  margin: 16px 0;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.app-header {
  background: #fff;
}

.app-content {
  background: #fff;
}
